.container{
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
}
.Sidebar{
    height: 100%;
    width: 250px;
    position: absolute;
    float: left;
    height: 100%;
    background-color: aqua;
}
.SidebarList {
    height: auto;
    width: 100%;
    background-color: red;
}
.sidebarList .row {
    width: 100%;
    height: 20px;
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction:row;
}