/* 
.sidebar{
    background-color: #ffffff !important ;
    position: sticky;
    top:0;
    left:0;
    height: 100vh;
} */

.ps-menuitem-root {
    color: white;
}

.ps-menuitem-root:hover{
    color:black
}

.ps-sidebar-container{
    background-color: #14238A !important;
}

.sub-menu-item{
    color:black
}