.MuiTableCell-head {
    font-size: 1.25rem !important;
    font-weight: bold !important;
    color: #e7c147 !important;
    text-shadow: 0px 0px 1px lightgray !important;
  }

/* .pageMinHeight{
  height: max(100vh, 700px);
} */

.table-body-row:active{
  background-color: rgb(202, 202, 202);
}